<p style="color: green"><%= notice %></p>
<%= link_to "New article", new_article_path %>
<h1>Articles</h1>
<div id="articles">
  <% @articles.each do |article| %>
    <p>
      <strong>Title:</strong>
      <%= article.title %>
    </p>
    <p>
      <strong>Body:</strong>
      <%= article.body %>
    </p>
    <p>
      <strong>Foto:</strong>
      <%#= image_tag article.foto, style: "width: 100px" if article.foto.attached? %>
      <% if article.foto.attached? %>
        <%= image_tag article.foto.variant(:index) %>
      <% else %>
        No hay imagen
      <% end %>
    </p>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>
