<p style="color: green"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>
<p>
  <strong>Foto:</strong>
  <%#= image_tag @article.foto, style: "width: 100px" if @article.foto.attached? %>
  <% if @article.foto.attached? %>
    <%= image_tag @article.foto.variant(:show) %>
  <% else %>
    No hay imagen
  <% end %>
</p>
<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>
  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
